.header__left {
    margin-left: 40px;
}

.header__left h1 {
    font-size: 80px;
}

.header__left p {
    width: 100%;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .header__left {
        margin-left: 5px;
    }

    .header__left h1 {
        font-size: 30px;
    }

    .header__left p {
        width: 100%;
        font-size: 18px;
    }
}